/*############################## FORM ####################################*/

main{
  background-color: #ddd;
  padding:30px 0;
}
.formContainer{
  max-width:60%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 60px;
  background-color: white;
}
.form-heading{
  text-align: center;
  font-family: 'Crimson Text', serif;
  color:#586F6B;
  margin-top:0;
  margin-bottom: 40px;
}
label{
  font-family: 'Crimson Text', serif;
  font-weight: lighter;
  color:#586F6B;
}
input, textarea, select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: 'Raleway', 'sans serif';
  color:#586F6B;
}
input[type=submit] {
  background-color: #7F9183;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: #586F6B;
}
@media only screen and (min-width: 992px){
  /*############################## FORM ################################*/
  main{
    padding:60px;
  }
  .formContainer{
    max-width:50%;
  }
}