body,
html {
  height: 100%;
}

.nav {
  font-family: 'Crimson Text', serif;
}

/*############################## NAVIGATION ####################################*/
.navigation {
  list-style: none;
  padding: 0 0;
}

.navigation .activeP a {
  color: #917f8d;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-decoration: none;
  color: #7F9183;
  text-shadow: .5px .5px #d3dad5;
  font-size: 20px;
}

.navigation li:hover {
  background-color: #ddd;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
  display: block;
}

.activeP {
  background-color: #ddd;
}

.activeP:hover {
  background-color: white;
}

/* The container to position the dropdown content */
.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #7F9183;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/*############################## Hero Image ##################################*/
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image.*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bannerimg.jpg);
  /* Set a specific height */
  height: 50%;
  /* Position and center the image to scale */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Crimson Text', serif;
  font-size: 36px;
}

.hero-text p {
  padding: 0;
  margin: 0;
}

.logo {
  max-width: 40%;
}

.button{
  font-family: 'Raleway', 'sans serif';
  background-color: #7F9183;
  border: .5px solid #7F9183;
  color: white;
  padding: 8px;
  transition: width 2s, height 2s;
}
.button:hover{
  background-color: #586F6B;
  border: .5px solid #586F6B;
  width: 80px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(71, 70, 70, 0.19);
}

.formContainer{
  max-width:50%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: #45a049;
}
/*############################## FOOTER ################################*/
footer {
  color: #7F9183;
  font-family: 'Crimson Text', serif;
  font-weight: lighter;
  padding-top: 25px;
}

footer h4 {
  font-weight: 600;
  font-size: 18px;
  margin: 0 0;
}

footer h5 {
  font-weight: lighter;
  font-size: 16px;
  margin: 0 0;
}

.social ul {
  padding: 0;
  margin: 0 0;
}

.social li {
  display: block;
}

iframe {
  max-width: 100%;
}

.footerbar {
  background-color: #7F9183;
  color: white;
  font-family: 'Raleway', 'sans serif';
  padding: 10px;
  text-align: center;
}

/*+++++++++++++++++++++++++++++ MEDIUM SIZE VIEW +++++++++++++++++++++++++++++++++*/
@media only screen and (min-width:768px) {

  /*############################## NAVIGATION ####################################*/
  .navigation {
    text-align: center;
  }

  .navigation a {
    padding: 1em 2em;
    font-size: 18px;
  }

  .navigation li:first-child {
    display: none;
  }

  .navigation li {
    display: inline-block;
  }

  .dropdown:hover .dropdown-content {
    position: absolute;
    background-color: white;
  }

  /*############################## HERO IMAGE ####################################*/
  .hero-text p {
    margin: 10px 0;
  }

  .logo {
    max-width: 40%;
  }
  /*############################## FOOTER ################################*/
  
}
@media only screen and (min-width: 992px){

}