body {
  font-size: 18px;
  line-height: 1.5;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.banner{
  text-align: center;
  background-color: orange;
  padding: 10px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:darkcyan;
}
.banner:hover{
  background-color: darkcyan;
  color:orange;
}


#index-main {
  max-width: 800px;
  margin: 0 auto;
}
header, footer{
  background-color: darkcyan;
  color: white;
  padding: 8px;
  border-radius: 15px;
}
header h1{
  font-family: 'Indie Flower', cursive;
  font-size: 48px;
  padding-left: 95px;
}
main{
  padding: 0 15px;
}
main h2{
  border-bottom: 1px solid black;
}
main, footer{
  font-family: 'Raleway', sans-serif;
}
.profile{
  float: right;
  box-shadow: 0 0 17px black;
}
footer a, footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus {
  color: white;
  text-align: center
}
footer a:hover{
  color:#DDD;
}
footer {
  clear:both;
  text-align: center;
}
footer p.legal {
  margin-bottom: 9px;
  font-size: .9em;
}
footer p.highlight {
  color: #ff8800;
  font-size: .8em;
  margin-top: 0;
}

