html {
  max-width: 100%;
  background-color: #303132;
}

body {
  margin: 0 auto;
  background-color: #303132;
  color: white;
  max-width: 100%;

}

header {
  max-width: 100%;
  font-family: 'Quicksand', sans-serif;
  border: 5px solid #D98C5F;
  background-color: #F2F2F2;
  color: #D98C5F;
}

h1 {
  padding: 25px 25px;
  text-align: center;
}

nav {
  margin: 0 auto;
  padding: 1em 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 100%;
  background-color: #D98C5F;
}

li.audience {
  background-color: #D98C5F;
  text-decoration: none;
}

li.color {
  background-color: #D98C5F;
  text-decoration: none;
}

li.type {
  background-color: #D98C5F;
  text-decoration: none;
}

nav a,
nav a:link,
nav a:visited,
nav a:active,
nav a:focus {
  color: white;
  text-align: center;
  font-size: 18px;
}

nav li:hover {
  background-color: #BB8152;
}

h2 {
  font-family: 'Lato', sans-serif;
}

#menu {
  display: grid;
  max-width: 100%;
  margin: 0 0;
  list-style: none;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

main {
  max-width: 100%;
  background-color: #F2F2F2;
  border: 5px solid #D98C5F;
  color: #D98C5F;
  padding: 20px 20px;
}

#personas {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3em 3em;
  font-family: 'Lato', sans-serif;
}

#container1 {
  max-width: 100%;
  margin: 0px;
  display: grid;
  grid-column: 2;
  grid-row: 1;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 5px;
}

.c1r1,
.c2r1,
.c1r2,
.c2r2,
.c1r3,
.c2r3,
.c1r4,
.c2r4,
.c1r5,
.c2r5,
.c1r6,
.c2r6,
.c1r7,
.c2r7,
.c1r8,
.c2r8 {
  margin: 0px;
  border: .5px solid black;
  text-align: center;
  line-height: 15px;
}

#container2 {
  margin: 0px;
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.c2c1r1,
.c2c2r1,
.c2c1r2,
.c2c2r2,
.c2c1r3,
.c2c2r3,
.c2c1r4,
.c2c2r4,
.c2c1r5,
.c2c2r5,
.c2c1r6,
.c2c2r6,
.c2c1r7,
.c2c2r7,
.c2c1r8,
.c2c2r8 {
  margin: 0px;
  border: .5px solid black;
  text-align: center;
}

@media screen and (max-width: 700px) {
  #personas {
    margin: 0px;
     display: block; 
    padding: 0 0;

  }
}