header {
  display: flex;
  max-width: 760px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  color: #303132;
}

.logo {
  height: 64px;
  width: 64px;
  padding-right: 5px;
}

.headings {
  display: flex;
  flex-direction: column;
}

.headings h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  margin: 0 0 0 0px;
}

.motto {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-style: italic;
}

/* Small/Phone View ***************/
nav {
  margin: 0 auto;
  max-width: 760px;
  background-color: #D98C5F;
  font-family: 'Quicksand', sans-serif;
}

.navigation {
  margin: 0 auto;
  list-style: none;
  padding: 0 0;
}
.navigation .activeP a{
  background-color: #BB8152;
  color: white;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.navigation a:hover {
  color: white;
  background-color: #BB8152;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
  display: block;
}
.title{
  font-family: 'Quicksand', sans-serif;
}
#content{
  display:grid;
  justify-content: center;
  box-sizing: border-box;
  gap: 20px;
}
picture img{
  max-width: 100%;
}
picture:hover {
  box-shadow: 0 0 50px #333;
}
/* When you mouse over the container, fade in the overlay title */
figcaption {
box-sizing: border-box;
background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.5); /* Black see-through */
color: black;
width: 100%;
transition: .5s ease;
opacity:1;
color: white;
font-size: 20px;
padding: 20px;
text-align: center;
font-family: 'Quicksand', sans-serif;
}
footer {
  padding: 5px 15px;
  background-color: #D98C5F;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

footer h1 {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

footer ul {
  list-style: none;
  padding: 0;
}

.social {
  visibility: hidden;
}

.social img {
  height: 36px;
  width: 36px;
}

.locationmap {
  align-items: center;
  border: 1px dashed gray;
}
.footerbar {
  clear:both;
  text-align: center;
  grid-column: 1 / 3;
}
.footerbar p.legal {
  margin-bottom: 9px;
  font-size: .9em;
}
.footerbar p.highlight {
  color: white;
  font-size: .8em;
  margin-top: 0;
}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    /* change state in small view */
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }
 
  #content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    box-sizing: border-box;
    gap: 20px;
    padding: 10px;
  }
  picture img {
    max-width: 100%;
  }
}

/* Media Query for Large views */
@media only screen and (min-width:768px) {
  header {
    margin: 0 6em;
    justify-content: left;
    font-size: 28px;
  }

  nav {
    max-width: 100%;
    padding: 0 50px;
  }
  #content{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,auto);
    justify-content: center;
    justify-items: center;
    box-sizing: border-box;
  }
  picture img{
    max-width: 100%;
    box-sizing: border-box;
  }
  figcaption {
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    }
  picture:hover figcaption {
    opacity: 1;
    }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 12em;
  }

  .locationmap {
    grid-column: 1;
    grid-row: 1/3;
  }

  footer h1 {
    grid-column: 2;
    margin: 0 0;
  }

  footer ul {
    grid-column: 2;
  }

  .contact {
    grid-column: 2;
  }

  .social {
    grid-column: 2;
    visibility: visible;
  }

  .social img {
    height: 36px;
    width: 36px;
  }
}