html {
  max-width: 100%;
  background-color: #303132;
}

body {
  margin: 0 auto;
  display:grid;
  background-color: #303132;
  padding: 10em 10em;
  color:white;
  max-width:100%;
}

header {
  max-width: 100%;
  font-family: 'Quicksand', sans-serif;
  border: 5px solid #D98C5F;
  background-color: #F2F2F2;
  color:#D98C5F;
}

h1 {
  padding:25px 25px;
  text-align: center;
}

nav {
  margin: 0 auto;
  padding: 1em 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr;
  max-width: 100%;
  background-color: #D98C5F;
}

li.audience{
  background-color: #D98C5F;
  text-decoration: none;
}
li.color{
  background-color: #D98C5F;
  text-decoration: none;
}
li.type{
  background-color: #D98C5F;
  text-decoration: none;
} 
nav a, nav a:link, nav a:visited, nav a:active, nav a:focus{
  color: white;
  text-align: center;
  font-size: 18px;
}
nav li:hover{
  background-color: #BB8152;
}
h2 {
  font-family: 'Quicksand', sans-serif;
}
.name{
  background-color: #D98C5F;
  color:#F2F2F2;
  line-height: 1em;
  padding:1em 1em;
}
#menu {
  max-width: 100%;
  display:grid;
  margin: 0 0;
  list-style: none;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
main {
  max-width:100%;
  display: grid;
  align-self: center;
  padding: 5em 5em;
  background-color: #F2F2F2;
  border:5px solid #D98C5F;
  color: #D98C5F;

}
.purpose {
  font-family: 'Lato', sans-serif;
  padding:1em;
}

h2 > .purpose {
  font-family: 'Quicksand', sans-serif;
}

.domain {
  font-family: 'Lato', sans-serif;
  padding:1em;
}

h2 > .domain {
  font-family: 'Quicksand', sans-serif;
}

.logo {
  font-family: 'Quicksand', sans-serif;
  padding:1em;
}
img{
  height: 128px;
  width: 128px;
}
