/* Small/Phone View ***************/
html {
  margin: 0 auto;
}

#banner {
  text-align: center;
  background-color: #516073;
  padding: 20px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #D98C5F;
  border-radius: 10px;
}

#banner:hover {
  background-color: #D98C5F;
  color: #516073;
}

.hidden {
  display: none;
}

header {
  display: flex;
  max-width: 760px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  color: #303132;
}

.cloudLogo {
  height: 64px;
  width: 64px;
  padding-right: 5px;
}

.headings {
  display: flex;
  flex-direction: column;
}

.headings h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  margin: 0 0 0 0px;
}

.motto {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-style: italic;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  NAVIGATION $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

nav {
  margin: 0 auto;
  background-color: #D98C5F;
  font-family: 'Quicksand', sans-serif;
}

.navigation {
  margin: 0 auto;
  list-style: none;
  padding: 0 0;
}

.navigation .activeP a {
  background-color: #BB8152;
  color: white;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.navigation a:hover {
  color: white;
  background-color: #BB8152;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
    <ul class="navigation responsive">
  */
.responsive li {
  display: block;
}

.title {
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  justify-self: center;
  background-color: #D98C5F;
  border-radius: 5px;
  margin: 15px;
  width: 85%;
  text-align: center;
}

.content {
  display: grid;
  justify-items: center;
}

form {
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr;
  margin: 50px;
  width: 75%;
  box-shadow: 5px 5px 5px lightslategray;
  background-color: dimgrey;
}

p {
  margin: 0;
}

label {
  padding: 10px 30px;
  align-content: center;
  font-family: 'Lato';
  background-color: dimgrey;
  color: white;
}

input:hover {
  background-color: silver;
}

input {
  color: gray;
  padding: 5px;
  max-width: 100%;
}

#stype {
  position: sticky;
}

#stSeverity {
  background: #D98C5F;
}

#severity {
  background: #D98C5F;
}

/* select {
  height: 25px;
} */

.name,
.email,
.phone,
.zip,
.date,
.type,
.range,
.stormregion {
  display: grid;
  max-width: 100%;
}

.selection {
  justify-items: center;
}

label .danger1,
.danger2,
.danger3 {
  padding: 1px;
 
}

.textarea {
  display: grid;
}
.submit{
  display: grid;
}
#submit{
  padding: 10px;
  background-color: #D98C5F;
  color: white;
  border: #D98C5F;
  border-radius: 2px;
  justify-content: center;
}
#submit:hover{
  background-color: white;
  color: #D98C5F;
}
footer {
  display: block;
  padding: 5px 15px;
  background-color: #D98C5F;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

footer h1 {
  font-family: 'Lato', sans-serif;
}

footer ul {
  list-style: none;
  padding: 0;
}

.social img {
  height: 36px;
  width: 36px;
}

iframe {
  align-items: center;
}

.footerbar {
  clear: both;
  text-align: center;
  grid-column: 1 / 3;
}

.footerbar p.legal {
  margin-bottom: 9px;
  font-size: .9em;
}

.footerbar p.highlight {
  color: white;
  font-size: .8em;
  margin-top: 0;
}

/* -------------------------------------------Media Query for medium+ views ------------------------------------------------- */
@media only screen and (min-width: 32.5em) {
  .navigation {
    display: flex;
    font-size: 14px;
  }

  .navigation li {
    display: block;
    /* change state in small view */
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  p {
    padding-bottom: 10px;
  }

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  box-sizing: border-box;
}

.social {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  font-size: 14px;
  padding: 10px;
}
}

/* ----------------------------------------------------------------Media Query for Large views----------------------------------------------- */
@media only screen and (min-width:1000px) {
  .cloudLogo {
    width: 74px;
    height: 74px;
  }
  body {
    max-width: 1024px;
    margin: 0 auto;
  }

  header {
    margin: 0 6em;
    justify-content: left;
    font-size: 28px;
  }

  nav {
    max-width: 100%;
    padding: 0 50px;
  }


  /* form {
    font-size: 18px;
    box-shadow: 10px 10px 10px lightslategray;
  } */

  p {
    padding-bottom: 10px;
  }

  /* input {
    font-size: 20px;
  } */

  select {
    height: 55px;
  }

  #danger2,
  #danger3,
  #danger1 {
    padding: 1px;
    height: 25px;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer h1 {
    margin: 0 0;
    padding: 0 10px;
  }

  footer ul {
    grid-column: 2;
  }

  .contact {
    padding: 0 10px;
  }

  .social {
    visibility: visible;
    padding: 0 10px;
  }

  .social img {
    height: 36px;
    width: 36px;
  }
  #content{
    display:grid;
    justify-content: center;
    text-align: center;
    padding:10px;
    background-color: dimgrey;
    max-width: 100%;
    height: 400px;
    justify-items: center;
    font-family: 'Quicksand', sans-serif;
  }
  
  section{
    margin: 30px;
    padding: 30px;
    height:45%;
    background-color: #D98C5F;
    color:white;
    border-radius: 5px;
  }
  
 
}

