
table {
  border-collapse: collapse;
  font-family: Ubuntu, sans-serif;
  border-color: lightgray;
  width: 175px;
}
tr:nth-child(odd){
  background-color:#e7ffed; 
}
tr:nth-child(even){
  background-color: #e7f0ed;
}


table, caption{
  box-shadow: 10px 5px 5px #628ca6;
}
caption{
  background: #7fb9c2;
  font-weight: bold;
  padding:5px;
  font-size: 12px;
}
th{
  background-color: #628ca6;
  color:white;
  font-weight: bold;
  font-size: 10px;
}
td{
  box-sizing: border-box;
  text-align: center;
  font-weight: lighter;
  font-size: 10px;
}
tr:nth-child(5) td:nth-child(3){
background-color:#628ca6;
color:white;
}
tr:nth-child(6) td:nth-child(1){
  font-style: italic;
}
tfoot td{
  background-color: #7fb9c2;
  padding:5px;
  font-size: 8px;
}

