/* Small/Phone View ***************/
html {
  margin: 0 auto;
}

#banner {
  text-align: center;
  background-color: #516073;
  padding: 20px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #D98C5F;
  border-radius: 10px;
}

#banner:hover {
  background-color: #D98C5F;
  color: #516073;
}

.hidden {
  display: none;
}

header {
  display: flex;
  max-width: 760px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  color: #303132;
}

.cloudLogo {
  height: 64px;
  width: 64px;
  padding-right: 5px;
}

.headings {
  display: flex;
  flex-direction: column;
}

.headings h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  margin: 0 0 0 0px;
}

.motto {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-style: italic;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  NAVIGATION $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
nav {
  margin: 0 auto;
  background-color: #D98C5F;
  font-family: 'Quicksand', sans-serif;
}

.navigation {
  margin: 0 auto;
  list-style: none;
  padding: 0 0;
}

.navigation .activeP a {
  background-color: #BB8152;
  color: white;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.navigation a:hover {
  color: white;
  background-color: #BB8152;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
    <ul class="navigation responsive">
  */
.responsive li {
  display: block;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  END NAVIGATION $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


.cards {
  display: grid;
  /* background-color:#D98C5F; */
  color: white;
}

.cards img {
  max-width: 100%;
}

h2{
  text-shadow:2px 2px #cd6a31;
}

p {
  font-family: 'Lato', sans-serif;
}

/* ------------------- Preston Card ------------------ */
.preston {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #D98C5F;
  box-shadow: 5px 5px 5px #516073;
  margin: 40px 40px;
  padding: 10px;
}

.t1,
.m1,
.p1,
.p2,
.p3 {
  grid-column: 1 / 2;
  text-align: center;
}

.p1,
.p2,
.p3 {
  font-size: 14px;
}

.t1,
.m1 {
  font-family: 'Quicksand', sans-serif
}

.pimage {
  justify-self: center;
  grid-column: 2;
  grid-row: 2 / 5;
}

/* ----------------- Fish Haven Card ---------------- */
.fish {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #D98C5F;
  box-shadow: 5px 5px 5px #516073;
  margin: 40px 40px;
  padding: 10px;
}

.t2,
.m2,
.f1,
.f2,
.f3 {
  grid-column: 2 / 3;
  text-align: center;
}

.f1,
.f2,
.f3 {
  font-size: 14px;
}

.t2,
.m2 {
  font-family: 'Quicksand', sans-serif
}

.fimage {
  justify-self: center;
  grid-column: 1;
  grid-row: 2 / 5;
}

/* ------------------- Soda Springs Card ------------------ */
.soda {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #D98C5F;
  box-shadow: 5px 5px 5px #516073;
  margin: 40px 40px;
  padding: 10px;
}

.t3,
.m3,
.s1,
.s2,
.s3 {
  grid-column: 1 / 2;
  text-align: center;
}

.s1,
.s2,
.s3 {
  font-size: 14px;
}

.t3,
.m3 {
  font-family: 'Quicksand', sans-serif
}

.simage {
  justify-self: center;
  grid-column: 2;
  grid-row: 2 / 5;
}


/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  FOOTER $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
footer {
  padding: 5px 15px;
  background-color: #D98C5F;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

footer h1 {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

footer ul {
  list-style: none;
  padding: 0;
}

.social img {
  height: 36px;
  width: 36px;
}

.locationmap {
  align-items: center;
  visibility: hidden;
  display: none;
}

.footerbar {
  clear: both;
  text-align: center;
  grid-column: 1 / 3;
}

.footerbar p.legal {
  margin-bottom: 9px;
  font-size: .9em;
}

.footerbar p.highlight {
  color: white;
  font-size: .8em;
  margin-top: 0;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  FOOTER END  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
  .navigation {
    display: flex;
    font-size: 16px;
  }

  .navigation li {
    display: block;
    /* change state in small view */
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
  }

  .navigation li:first-child {
    display: none;
  }

  .cloudLogo img {
    height: 80px;
    width: 80px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  h2{
    text-shadow: none;
  }

  /* ----------------- Preston Card ---------------- */

  .preston {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin:20px 20px;
  }
  .preston:hover{
    margin:15px 15px;
    background-color:#f7e7de;
    color:#cd6a31;
    border:1px solid #D98C5F;
    text-shadow:2px 2px #f0d0be;
  }

  .pimage {
    grid-row: 2;
    grid-column: 1;
  }


  /* ----------------- Fish Haven Card ---------------- */
  .fish{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin:20px 20px;
  }
  .fish:hover{
    margin:15px 15px;
    background-color:#f7e7de;
    color:#cd6a31;
    border:1px solid #D98C5F;
    text-shadow:2px 2px #f0d0be;
  }
  .fimage{
   grid-row: 2;
   grid-column: 2;
  }
  /* ------------------- Soda Springs Card ------------------ */
  .soda{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin:20px 20px;
  }
  .soda:hover{
    margin:15px 15px;
    background-color:#f7e7de;
    color:#cd6a31;
    border:1px solid #D98C5F;
    text-shadow:2px 2px #f0d0be;
  }
  

  .simage{
   grid-row: 2;
   grid-column: 1;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer h1 {
    grid-column: 2;
  }

  .contact,
  .social {
    grid-column: 2;
  }

  .locationmap {
    display: grid;
    visibility: visible;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    max-width: 75%;
    justify-self: center;
  }
}


/* Media Query for Large views */
@media only screen and (min-width:768px) {
  body {
    max-width: 1024px;
    margin: 0 auto;
  }

  header {
    margin: 0 6em;
    justify-content: left;
    font-size: 28px;
  }

  nav {
    max-width: 100%;
    padding: 0 50px;
  }



  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 8em;
  }

  footer h1 {
    margin: 0 0;
    padding: 0 10px;
  }

  footer ul {
    grid-column: 2;
  }

  .contact {
    padding: 0 10px;
  }

  .social {
    visibility: visible;
    padding: 0 10px;
  }

  .social img {
    height: 36px;
    width: 36px;
  }
}